@model biydaalt.Models.Worker

@{
    ViewData["Title"] = "Ажилтаны мэдээлэл устгах";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Ажилтаны мэдээлэл устгах</h1>

<h3>Та үүнийг устгахдаа итгэлтэй байна уу?</h3>
<div>
    <h4>Ажилтаны мэдээлэл</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department.departmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department.departmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.albantushaal.albantushaalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.albantushaal.albantushaalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.regdug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.regdug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="workerId" />
        <input type="submit" value="Тийм" class="btn btn-danger" /> |
        <a asp-action="Index">Үгүй</a>
    </form>
</div>
