@model biydaalt.Models.Worker

@{
    ViewData["Title"] = "Ажилтаны дэлгэрэнгүй мэдээлэл";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Ажилтаны дэлгэрэнгүй мэдээлэл</h1>

<div>
    <h4>Ажилтаны мэдээлэл</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.workerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.workerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department.departmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department.departmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.albantushaal.albantushaalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.albantushaal.albantushaalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.regdug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.regdug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.workerId">Засах</a> |
    <a asp-action="Index">Буцах</a>
</div>
