@model IEnumerable<biydaalt.Models.Worker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.workerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.albantushaal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regdug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.workerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.departmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.albantushaal.albantushaalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regdug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.workerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.workerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.workerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
