@model IEnumerable<biydaalt.Models.User>

@{
    ViewData["Title"] = "Үйлчлүүлэгчийн мэдээлэл нүүр хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Үйлчлүүлэгчийн мэдээлэл нүүр хуудас</h1>

<p>
    <a asp-action="Create">Шинээр үйлчлүүлэгч нэмэх</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regdug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regdug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.userId">Засах</a> |
                <a asp-action="Details" asp-route-id="@item.userId">Дэлгэрэнгүй</a> |
                <a asp-action="Delete" asp-route-id="@item.userId">Засах</a>
            </td>
        </tr>
}
    </tbody>
</table>
