@model biydaalt.Models.Bookact

@{
    ViewData["Title"] = "Актласан номны дэлгэрэнгүй хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Актласан номны дэлгэрэнгүй хуудас</h1>

<div>
    <h4>Актласан ном</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book.bookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book.bookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker.workerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.workerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.act_count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.act_count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actshaltgaan.actshaltgaanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actshaltgaan.actshaltgaanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bookactId">Засах</a> |
    <a asp-action="Index">Буцах</a>
</div>
