@model biydaalt.Models.Bookact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book.bookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.workerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.act_count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.act_count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actshaltgaan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actshaltgaan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.bookactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
