@model IEnumerable<biydaalt.Models.Turul>

@{
    ViewData["Title"] = "Номын төрөл нүүр хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Номын төрөл нүүр хуудас</h1>

<p>
    <a asp-action="Create">Шинээр номын төрөл нэмэх</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.turulName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.turulName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.turulId">Засах</a> |
                <a asp-action="Details" asp-route-id="@item.turulId">Дэлгэрэнгүй</a> |
                <a asp-action="Delete" asp-route-id="@item.turulId">Устгах</a>
            </td>
        </tr>
}
    </tbody>
</table>
