@model IEnumerable<biydaalt.Models.Albantushaal>

@{
    ViewData["Title"] = "Албан тушаал нүүр хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Нүүр хуудас</h1>

<p>
    <a asp-action="Create">Шинээр албан тушаал нэмэх</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.albantushaalName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.albantushaalName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.albantushaalId">Засах</a> |
                <a asp-action="Details" asp-route-id="@item.albantushaalId">Дэлгэрэнгүй</a> |
                <a asp-action="Delete" asp-route-id="@item.albantushaalId">Устгах</a>
            </td>
        </tr>
}
    </tbody>
</table>
