@model IEnumerable<biydaalt.Models.Book>

@{
    ViewData["Title"] = "Ном нүүр хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Ном нүүр хуудас</h1>

<p>
    <a asp-action="Create">Шинээр ном нэмэх</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.page_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turuluud.turulName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dedturuluud.dedTurulName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pub_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pub_company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.worker.workerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bookimage)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.page_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turuluud.turulName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dedturuluud.dedTurulName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.book_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pub_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pub_company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.worker.workerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bookId">Засах</a> |
                <a asp-action="Details" asp-route-id="@item.bookId">Дэлгэрэнгүй</a> |
                <a asp-action="Delete" asp-route-id="@item.bookId">Устгах</a>
            </td>
        </tr>
}
    </tbody>
</table>
