@model biydaalt.Models.Torguuli

@{
    ViewData["Title"] = "Торгуулийн мэдээлэл дэлгэрэнгүй";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Торгуулийн мэдээлэл дэлгэрэнгүй</h1>

<div>
    <h4>Торгууль</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.worker.workerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.worker.workerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.book.bookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.book.bookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ashigodor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ashigodor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.torguulishaltgaan.torguulishaltgaanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.torguulishaltgaan.torguulishaltgaanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.torguulihemje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.torguulihemje)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.torguuliId">Засах</a> |
    <a asp-action="Index">Буцах</a>
</div>
