@model IEnumerable<biydaalt.Models.Dedturul>

@{
    ViewData["Title"] = "Номын дэд төрлийн нүүр хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Номын дэд төрлийн нүүр хуудас</h1>

<p>
    <a asp-action="Create">Шинээр номын дэд төрөл нэмэх</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dedTurulName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turul.turulName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dedTurulName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turul.turulName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.dedTurulId">Засах</a> |
                <a asp-action="Details" asp-route-id="@item.dedTurulId">Дэлгэрэнгүй</a> |
                <a asp-action="Delete" asp-route-id="@item.dedTurulId">Устгах</a>
            </td>
        </tr>
}
    </tbody>
</table>
